<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Google I/O Extended Cochabamba</h1>

        <p class="lead">Kick-start your next web app with Angular Fullstack</p>
        <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <h3>Users List</h3>
            <div>
                <table ng-table class="table">
                    <tr ng-repeat="user in users">
                        <td data-title="'Name'">{{user.name}}</td>
                        <td data-title="'Age'">{{user.age}}</td>
                        <td data-title="'City'">{{user.city}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-6">
            <button type="button" class="btn btn-default" ng-click="addNew()">
                Add User
            </button>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>Angular Fullstack v2.0.13 |
            <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
            <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
</footer>
